#sprite{
    height: 500px;
    border: 1px solid gray;
    /* background-image: linear-gradient(to bottom right, green, blue, red); */
    background-image: radial-gradient(circle, green 20%, blue 30%, red 50%);
}