.bg{
    /* background-image: url('images/1.jpg');  */
    background-color: yellow;
    /* background-image: url('images/3.png'); */
    background-image: url('images/4.png'), url('images/5.jpg');
    background-repeat: no-repeat;
    background-position: right top, left bottom;
    /* background-size: cover; */
    /* background-attachment: fixed; */
}
body{
    background-color: red;
}